<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>암호화폐 실시간 TOP 100</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script>
    function refreshPage() {
        location.reload();
    }
    </script>
</head>
<body>
<section id="header">
    <div class="wrapper">
        <div class="title" onclick="refreshPage()">Crypto</div>
    </div>
</section>
<div class="main">
    <div class="top">
        <div class="top_title">
            <h1>암호화폐 실시간 TOP 100</h1>
        </div>
        <div class="top_btn_container">
            <button class="top_btn" onclick="refreshPage()"><img src="./img/update.png"/></button>
        </div>
    </div>
    <table>
        <thead>
        <tr>
            <th>순위</th>
            <th>종목</th>
            <th>기호</th>
            <th>가격</th>
            <th>총 시가</th>
            <th>총 거래량</th>
            <th>가격 변동(24H)</th>
            <th>시가 총액 변동(24H)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="coin : ${coins}">
            <td th:text="${coin.rank}"></td>
            <td>
                <img alt="Image" class="coin-img" th:src="${coin.image}">
                <a class="coin-link"
                   th:href="@{/coin/{coinId}(coinId=${coin.id})}"
                   th:text="${coin.name}">
                </a>
            </td>

            <td th:text="${coin.symbol}"></td>
            <td>$<span th:text="${coin.currentPrice}"></span></td>
            <td>$<span th:text="${coin.marketCap}"></span></td>
            <td th:text="${coin.totalVolume}"></td>
            <td th:text="${coin.priceChangePercentage24h} + '%'"></td>
            <td th:text="${coin.marketCapChangePercentage24h + '%'}"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
