<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>암호화폐 실시간 TOP 100</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<section id="header">
    <div class="wrapper">
        <div class="title">Crypto</div>
        <ul class="lists">
            <li></li>
            <li>News</li>
            <li>Chart</li>
            <li>#</li>
        </ul>
        <div class="log">Log In</div>
    </div>
</section>
<div class="main">
    <div class="top">
        <div class="top_title">
            <h1>암호화폐 실시간 TOP 100</h1>
        </div>
        <div class="top_btn_container">
            <button class="top_btn" onclick="refreshPage()"><img src="./img/update.png"/></button>
        </div>
    </div>
    <table>
        <thead>
        <tr>
            <th>순위</th>
            <th>종목</th>
            <th>기호</th>
            <th>가격</th>
            <th>총 시가</th>
            <th>거래량(24H)</th>
            <th>가격 변동(24H)</th>
            <th>시가 총액 변동(24H)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="coin : ${coins}">
            <td th:text="${coin.rank}"></td>
            <td>
                <a th:href="@{/coin/{coinId}(coinId=${coin.id})}"
                   th:text="${coin.name}"
                   class="coin-link">
                </a>
            </td>

            <td th:text="${coin.symbol}"></td>
            <td th:text="${coin.currentPrice}"></td>
            <td>$<span th:text="${#numbers.formatDecimal(coin.marketCap, 0, 2)}"></span></td>
            <td th:text="${#numbers.formatDecimal(coin.totalVolume, 0, 2)}"></td>
            <td th:text="${coin.priceChangePercentage24h} + '%'"></td>
            <td th:text="${coin.marketCapChangePercentage24h + '%'}"></td>
        </tr>

        </tbody>
    </table>
    <canvas id="lineChart"></canvas>
</div>

<script>
    function refreshPage() {
        location.reload();
    }

</script>
</body>
</html>
